@using Model.Entites
<div class="card" style="width: 18rem;">
    <img src="Images/fantasy-creature.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@ThisEntity!.Name</h5>
        <p class="card-text">@ThisEntity.Description</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
@code {
    [Parameter] public Entity? ThisEntity { get; set; }
}