@page "/itemView"
@using Domain.Interfaces
@using Model.Entites
@using WebGUI.Components.BlazorComponents
@inject IRepository<Item> ItemRepository;
@rendermode InteractiveServer
<h3>ItemView</h3>
<section> 
    <div class="container">
        <div class="row">
            @foreach (Item item in Items!)
            {
                <div class="col-3">
                    <ItemComponent ThisItem=@item></ItemComponent>
                </div>
            }
        </div>
    </div>
</section>

@code {
    private List<Item>? Items { get; set; }
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Items = ItemRepository.ReadAll();
    }
 
}